.container {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: .7;
  user-select: none;
}

.notFound {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;

  .four {
    font-size: clamp(6rem, 16vw, 17.5rem);
    font-weight: 700;
  }

  img {
    height: clamp(6rem, 14vw, 15rem);
  }
}

h2 {
  margin-bottom: 20px;
  font-size: clamp(1.25rem, 0.9539rem + 1.3158vw, 2.1875rem);
}
