@import "fonts";
@import "variables";
@import "normalize";

@import "components/all";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 740px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1080px) {
      flex-direction: column-reverse;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 8vw auto;
    .content__title {
      margin: 0;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();
    color: #b6b6b6;

    span {
      display: inline-block;
      margin-left: 7px;
      font-size: 18px;
      color: #b6b6b6;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  .content__items {
    display: block;
  }

  &__item {
    display: grid;
    grid-template-columns: 80px 40% auto auto auto;
    column-gap: 2%;
    align-items: center;
    margin: 25px 0 0;
    grid-template-areas: "image info count price del";

    @media (max-width: 790px) {
      grid-template-columns: 80px 40% auto;
      grid-template-areas:
        "image info count del"
        " image info price del";
    }
    @media (max-width: 590px) {
      grid-template-columns: 120px 1fr 40px;
      grid-template-areas:
        "image info del"
        "count price del";
    }

    .cart__item-img {
      display: flex;
      justify-content: center;
      grid-area: image;

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      grid-area: info;

      h3 {
        font-weight: bold;
        font-size: 22px;
        font-size: clamp(1.125rem, 0.375rem + 2vw, 1.375rem);
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        font-size: clamp(0.75rem, 0.3933rem + 1.4634vw, 1.125rem);
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      grid-area: count;

      &-minus--disabled {
        border-color: darken($color: $gray-line, $amount: 10);
        opacity: 0.7;

        &:active {
          transform: none;
        }

        &:hover {
          background-color: transparent;
          cursor: default;
          svg path {
            fill: darken($color: $gray-line, $amount: 10);
          }
        }

        svg path {
          fill: darken($color: $gray-line, $amount: 10);
        }
      }

      b {
        font-weight: bold;
        font-size: 22px;
        font-size: clamp(1.125rem, 0.375rem + 2vw, 1.375rem);
        // letter-spacing: 0.01em;
      }
    }

    &-price {
      justify-self: center;
      grid-area: price;

      @media (max-width: 590px) {
        justify-self: end;
      }

      b {
        font-weight: bold;
        font-size: 22px;
        font-size: clamp(1.125rem, 0.375rem + 2vw, 1.375rem);
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      justify-self: end;
      grid-area: del;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      gap: 0 15px;
      flex-wrap: wrap;
      justify-content: space-between;

      span {
        font-size: 22px;
        font-size: clamp(1.25rem, 0.875rem + 1vw, 1.375rem);

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        margin-right: 10px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
